<nav class="navbar navbar-expand-sm  navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">ChessGalery</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Players" asp-action="List">Players</a>
                </li>
            </ul>
        </div>
    </div>
</nav>